body {font-size: 14px;color: #333;box-sizing: border-box;}
strong {font-weight: 500;}
a,a:hover,a:focus {text-decoration: none;outline: none;}
img {max-width: 100%;}
.fl{float: left;}
.fr{float: right;}
input:focus{outline: none;}
ul{	padding: 0;	margin: 0;}
ul li{list-style: none;}
.tac{text-align: center;}
.tar{text-align: right;}
.auto{margin:0 auto;}
.dsn{display: none}
.mb30{margin-bottom: 30px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px}
.mt5{margin-top: 5px}
.ml10{margin-left: 10px}
.ml20{margin-left: 20px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mb10{margin-bottom: 10px}
.mb20{margin-bottom: 20px}
.mb50{margin-bottom: 50px}
.pt10{padding-top: 10px}
.pb10{padding-bottom: 10px}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pd10{padding:10px;}
.pd20{padding:20px;}
.color1{color: #ffe39f}
.color2{color: #0f65f7}
.c-fff{color:#fff;}
.bg-gray{background: #dcdcdc;}
.wrapper{max-width: 1200px;margin:0 auto;}
.wow { visibility: hidden; }

/* header部分 */
.top{height: 45px;background: #000;color: #fff}
.ico-home{float: left;background: #f0f2f2;width: 60px;height: 60px;padding-top: 15px;border-radius: 10px 0 0 10px}
.header-area{height: 690px;}
.bg-01{background: url('../img/bg-01.jpg') no-repeat center top;}
.ipt-search{border-radius: 4px;border:0;padding-left: 10px;margin-left: 10px;height: 25px;line-height: 25px;margin-top: 10px;color: #333}
.nav-bar{margin-top: 60px;height: 60px;background: #fff;border-radius: 10px;}
.nav ul{text-align: center;}
.nav ul li{float: left;height: 60px;line-height: 60px;width: 14%;}
.nav ul li a{color: #333;font-size: 16px;}
.nav li.logo-circle{width: 130px;height: 130px;border-radius: 50%;background: #bcc2c5;padding-top: 20px;position: relative;top: -40px}
.mobile-menu{height: 60px;background: #fff;}
.m-nav{display: block; top: 0; width: 30px; height: 60px;padding: 20px 0;float: right;cursor: pointer;position: relative;margin-right: 15px;}
.m-nav span{display: block;  width: 100%; height: 4px; background: #333; border-radius: 2px; position: absolute; top: 15px; transition: all .5s;}
.m-nav span:nth-child(2) { top: 26px;}
.m-nav span:nth-child(3) { top: 36px;}
.m-nav span.active:nth-child(1) {transform: translateY(7px) rotate(45deg); transition: all .5s;}
.m-nav span.active:nth-child(3) {transform: translateY(-9px) rotate(-45deg);transition: all .5s;}
.foot-txt{line-height: 1.5;font-size: 14px;}
.footer-area{padding-top: 60px;background: #bcc2c5;height: 246px;}